doctype html 
html(lang='en') 
  head
    link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700", rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='app.js')
    style.
      html, body {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        background-color: #e6e6e6;
        letter-spacing: 1px;
      }
      * {
        box-sizing: border-box;
      }
      .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 250px;
        height: 100%;
        background-color: rgba(0, 0, 50, 1);
        box-shadow: 0 0 20px #e6e6e6;
        color: #fff;
      }
      .main-header {
        font-size: 24px;
        padding: 20px;
        font-weight: 600;
        letter-spacing: 5px;
      }
      .sidebar-item {
        padding: 10px;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        cursor: pointer;
      }
  body
    div(id='main-content')

    script.
      window._state = !{state}    // from index.js and app.js is from dist/app.js